//template3
.template3Title {
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}
//template4
.template4Title {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin: 0px auto 15px auto;
  text-align: center;
}